
.diag {
    height: 60%;
    display: flex;
    flex-direction: column;
    background-color: #333333;
    justify-content: center;
    align-items: center;
    width: 35%;
    border-radius: 10px;
    padding: 0 1.5%;
}
#incomeChart{
    width: 100px;
    height: 100px;
}
.income-details{
    height: 60%;
    color: white;
    display: flex;
    flex-direction: column;
}
.income-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    width: 30vw;
    font-size: 2.5vh;
    font-weight: bold;
    margin-bottom: 3%;
}
.income-header button{
    justify-items: start;
    color: rgb(90, 163, 247);
    border: none;
    font-size: 1.8vw;
    background: none;
    width: 16vw;
    height: 6vh;
    border-radius: 1px;
    font-weight: bold;
}
.income-header span{
    color:white;
}
.income-list{
    height: 80%;
    width: 30vw;
    overflow-y: scroll;
}
.income-list::-webkit-scrollbar {
    display: none;
}

.income-main-item{
    width: 100%;
    padding: 0 0 2% 0;
    font-size: 1.6vh;
}
.income-item{
    display: flex;
    background-color: #616161;
    justify-content: start;
    width: 100%;
    margin-bottom: 3%;
    padding: 2%;
    border-radius: 10px;
}
.income-item-icon{
    width: 3vw;
    border-radius: 25px;
}
.income-span-rub{
    font-size: 2.4vh;
    color: #0CB300;
    font-weight: bold;
}
.income-span-time{
    align-self: end;
    font-size: 1.8vh;
}
.income-span-name{
    font-size: 2.4vh;
    font-weight: bold;
}
.income-span-category{
    font-size: 1.8vh;
}
.income-pars{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 2%;
}

.add-income-btn {
    display: flex;
    background-color: var(--Yellow_fonts);
    color: var(--Grey_font);
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-size: 1.4vh;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin: auto;
    margin-top: 2.5%;
    width: 22vw;
    height: 4vh;
    justify-content: center;
    align-items: center;
}