@font-face {
    font-family: 'Comme-Black';
    src: url('/static/fonts/Comme-Black.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-Medium';
    src: url('/static/fonts/Montserrat-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('/static/fonts/Montserrat-SemiBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.bell-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease; /* Анимация плавного вращения */
}

.bell-btn:hover {
    transform: rotate(20deg); /* Вращение при наведении */
}

.bell-btn img {
    width: 25px;
    height: 25px;
    filter: grayscale(100%) brightness(0); /* Оставляем цвет неизменным */
    transition: transform 0.3s ease; /* Плавная анимация без изменения цвета */
}
.search-bar {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    padding: 5px 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    width: 300px;
    border: 2px solid #FFDD2D;
}

.search-input {
    height: 100%;
    outline: none;
    padding: 8px 10px;
    font-size: 16px;
    width: 100%;
    margin-left: 10px;
    border: none;
    border-left: #FFDD2D 2px solid;
}

.search-btn img {
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease; /* Плавное увеличение значка */
}

.search-btn {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease; /* Убираем обводку, оставляем только масштабирование */
}
.search-btn:active {
    transform: scale(0.9); /* Эффект сжатия при нажатии */
}
.search-input:focus {
    outline: none; /* Убираем стандартный outline браузера */
    border-left: #FFDD2D 2px solid; /* Оставляем базовую границу */
    transition: border-left 0.3s ease; /* Плавная анимация изменения границы */
}
.search-btn:hover img {
    transform: scale(1.1); /* Увеличиваем значок на 10% при наведении */
}

.search-input::placeholder {
    font-family: 'Comme-Black', sans-serif;
    font-size: 14px;
    color: #000000;
}
.search-btn img {
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease; /* Плавное увеличение значка */
}


.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #d0d0d0;
    border: 2px solid #b0b0b0;
    display: flex; /* Используем flexbox для упрощения размещения */
    flex-direction: column; /* Ставим элементы вертикально */
}
.user-avatar-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.avatar_name{
    font-family: 'Comme-Black', sans-serif;
    font-size: 14px;
    color: black;
    margin: 0; /* Убираем лишние отступы, если есть */
}