<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="../static/css/transaction_info.css">
</head>
<body>
    <div class="container">
        <pre class="data_transaction">22 ноября 2024, 12:33</pre>
        <img class="mini_logo" src="../static/images/mini_logo.png" alt="">
        <p class="name">Алексей Г.</p>
        <p class="name_transaction">Переводы</p>
        <p class="sum_transaction">+2000 р</p>
        <p class="about_transaction">Пополнение счета</p>
        <div class="card_element">
            <img class="card_element_image" src="../static/images/transaction_image.png" alt="">
            <div class="card_type"><p>Black</p></div>
        </div>
        <p class="recvesits">Реквизиты</p>
        <p class="sender">Отправитель</p>
        <p class="name_sender">Алексей Г.</p>
    </div>
</body>
</html>